*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --text: #0f0001;
--background: #ffffff;
--primary-button: #f97910;
--secondary-button: #fefcdc;
--accent: #9f9704;
}
.section-padding{
    padding: 2rem 4rem;
}
body{
    background-color: #f4f0b5;
    width: 100%;
}
.section-margin{
    margin: 2rem 4rem;
}